      * {
        box-sizing: border-box;
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
      }

      a {
        text-decoration: none;
        color: #000;
        background-color: transparent;
      }

      #header {
        position: sticky;
        top: 0;
        height: 70px;
        line-height: 70px;
        font-size: 13px;
        font-weight: 400;
        background-color: #ffffff;
        z-index: 11;
        transition: background .3s;
      }

      #header .header-main {
        display: flex;
        height: 70px;
        border-bottom: 1px solid #e4d5d5;
      }

      #header .item {
        padding: 0 23px;
      }

      .box-left-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 70px;
        border-right: 1px solid #e6eaea;
        background-color: transparent;

      }

      .box-left-logo img {
        width: 100%;
      }

      #header .header-main>.box-right {
        display: flex;
        justify-content: flex-end;
        flex: 1;
      }

      #header .login {
        text-transform: uppercase;
        flex: 1;
        text-align: right;
      }

      #header .login strong {
        font-weight: 600;
        margin-left: 4px;
      }

      .button {
        position: relative;
        display: inline-block;
        height: 60px;
        padding: 0 35px;
        background-color: #030303;
        line-height: 60px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        transition: all .3s;
      }


      #Cart-or-something {
        position: relative;
        width: 190px;
        height: 70px;
        padding: 0 !important;
        overflow: hidden;
        transition: width .3s ease-in-out
      }


      #Cart-or-something .button {
        position: relative;
        width: 190px;
        height: 70px;
        padding: 0 !important;
        overflow: hidden;
        transition: width .3s ease-in-out
      }

      .button.black {
        background-color: #000;
        color: #fff;
        font-weight: 400;
        line-height: 70px;
        font-size: 18px;
      }

      /* LOGO */
      .logo-header {
        display: block;
        position: absolute;
        top: 23px;
        left: 50%;
        width: auto;
        height: 23px;
        line-height: normal;
        transform: translateX(-50%);
      }

      .logo-header a {
        font-size: 20px;
        font-weight: 700;
      }

      .logo-fill {
        fill: #303030;
        z-index: 0;
        transition: all .3s;
      }

      .logo-header.p .logo-fill {
        fill: transparent;
        transform: translateX(85px);
      }

      .logo-header.p #logo-p,
      .logo-header.p #logo-p1 {
        fill: black;
        transform: translateX(85px);
      }

      .open-login {
        cursor: pointer;
      }

      /* HOMEPAGE  */
      .box-lightbox {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        visibility: hidden;
        opacity: 0;
        min-height: 100%;
        height: auto;
        padding: 70px 0;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, .75);
        z-index: 10;
        transition: all .3s;
      }

      .box-lightbox.open {
        visibility: visible;
        opacity: 1;
        z-index: 100;
      }

      .cd-login,
      .cd-signup {
        display: none;
      }

      .cd-login.active,
      .cd-signup.active {
        display: block;
      }

      .box-lightbox .bt-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 66px;
        height: 70px;
        background-color: rgb(202, 180, 180);
        cursor: pointer;
        z-index: 1;
        transition: all .3s ease-in-out;
      }

      .box-lightbox .bt-close:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      .box-lightbox .bt-close:after {
        transform: translate(-50%, -50%) rotate(45deg);
        ;
      }

      .box-lightbox .bt-close:before,
      .box-lightbox .bt-close:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        background-color: #222222;
      }

      .cd-login,
      .cd-signup {
        width: 100%;
        height: 100%;
      }

      /* MODAL */


      .popup {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #fff;

      }



      .footer {
        text-align: center;
      }

      .footer a {
        color: #53B2C8;
      }

      /* form starting stylings ------------------------------- */
      .form .group {
        position: relative;
        margin-bottom: 22px;
      }

      .group input {
        font-size: 18px;
        padding: 0 0 8px 0;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #757575;
      }

      .group input:focus {
        outline: none;
      }

      /* LABEL ======================================= */
      /* .group label 				 {
  color:#999;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
} */

      .group input::placeholder {
        color: #999;
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }


      /* BOTTOM BARS ================================= */


      /* active state */
      .group input:focus~.bar:before,
      input:focus~.bar:after {
        width: 50%;
      }

      /* HIGHLIGHTER ================================== */
      .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
      }

      /* active state */
      .group input:focus~.highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
      }

      /* ANIMATIONS ================ */
      @-webkit-keyframes inputHighlighter {
        from {
          background: #5264AE;
        }

        to {
          width: 0;
          background: transparent;
        }
      }

      @-moz-keyframes inputHighlighter {
        from {
          background: #5264AE;
        }

        to {
          width: 0;
          background: transparent;
        }
      }

      @keyframes inputHighlighter {
        from {
          background: #5264AE;
        }

        to {
          width: 0;
          background: transparent;
        }
      }

      .form {
        background: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding: 50px 70px;
      }

      .form span {
        font-size: 12px;
        color: rgb(121, 115, 115);
      }

      .single {
        display: flex;
        font-size: 14px;
        text-align: left;
        justify-content: center;
        align-items: center;

      }

      .single label {
        margin-left: 6px
      }

      .group button {
        margin-top: 32px;
        outline: none;
        background: rgb(24, 23, 23);
        color: #fff;
        width: 100%;
        border: 0;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: inherit;
        cursor: pointer;
      }

      .single button {
        margin-top: 32px;
        margin-bottom: 32px;
        outline: none;
        background: #fff;
        color: rgb(24, 23, 23);
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 8px 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: inherit;
        cursor: pointer;
        display: flex;
        text-align: left;
        justify-content: center;
        align-items: center;
      }

      .single svg {
        width: 22px;
        height: 22px;
        margin-right: 6px;
      }



      .textdanger {
        color: rgb(234, 118, 118) !important;
      }

      .container-compare {
        display: flex;
      }

      .container-compare .left,
      .container-compare .right {
        flex: 1;
        padding: 0 90px;
        padding-bottom: 40px;
        border-right: 3px solid #000;
        font-size: 26px;
      }

      #date_search {
        border-radius: 4px;
        border: #c8c5c5cf 1px solid;
      }

      .permission-content .card-body .form-check {
        color: #000000;
      }


      .btn-basic {
        background-color: #f8f8f8 !important;
        padding: 4px 8px;
        border: .5px solid #d4d2d2;
        border-radius: 4px;
      }

      .btn-basic:hover {
        background-color: #d1d1d1 !important;
      }

      .nav-item .nav-link {
        padding: 8px 14px;
        color: #030303 !important;
        border-bottom: 1px #ccc solid !important;
      }

      .nav-item .nav-link.active {
        border-top: 1px solid #44a7f8 !important;
        border-left: 1px solid #44a7f8 !important;
        border-right: 1px solid #44a7f8 !important;
      }

      .active-interface {
        border-top: 1px solid #44a7f8 !important;
        border-left: 1px solid #44a7f8 !important;
        border-right: 1px solid #44a7f8 !important;
      }

      .search-option {
        margin-top: 20px;
        border: 2px solid #a1a1a1;
      }

      .images-file-list {
        margin-top: 20px;
      }

      #image-settings {
        background-color: rgba(0, 0, 0, 0.3)
      }

      .modal-images-setting {
        width: 760px !important;
        min-width: 760px !important;
        height: 840px !important;
        min-height: 840px !important;
      }

      .modal-images-setting label {
        cursor: pointer;
        /* Style as you please, it will become the visible UI component. */
      }

      .modal-images-setting .upload-photo {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }

      .modal-images-setting .label-select-file {
        background-color: #f8f8f8 !important;
        padding: 4px 14px;
        border: .5px solid #d4d2d2;
        border-radius: 4px;
        max-height: 34.22px;
      }

      .modal-images-setting .label-select-file:hover {
        background-color: #d1d1d1 !important;
      }

      .modal-images-setting .file-name-message {
        min-height: 48px;
      }

      .images-file-list .list-group-item {
        border-top: none;
        border-left: none;
        border-right: none;

      }

      .modal-images-setting .images-file-list .list-group {
        width: 98%;
        max-height: 350px;
        overflow-y: auto;
      }

      .modal-images-setting .w-90 {
        width: 86%;
      }

      .modal-images-setting .images-file-list,
      .search-option {
        position: relative;
        border: 1px solid rgb(92, 91, 91);
        padding: 10px;
      }

      .modal-images-setting .images-file-list {
        height: 400px;
      }

      .modal-images-setting .images-file-list::before {
        content: 'Images file';
        position: absolute;
        top: -10px;
        padding: 0 10px;
        background: #fff;
      }

      .modal-images-setting .search-option::before {
        content: 'Search options';
        position: absolute;
        top: -10px;
        padding: 0 10px;
        background: #fff;
      }

      .modal-images-setting .group-select-one-file:first-child {
        margin-top: 30px;
      }

      .modal-images-setting .group-select-one-file {
        margin-top: 10px;
        width: 90%;
        margin-left: 5%;
      }

      .modal-images-setting .search-option-label {
        margin-left: 30px;
      }

      .modal-images-setting .btn-close {
        background-color: #f05454;
        color: #ffff !important;
        font-weight: bold !important;
        opacity: 1 !important;
      }


      /* The Preview Modal (background) */
      #myModal,
      #modal-notice.modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.2) !important;
        /* Black w/ opacity */
      }

      #modal-notice-file .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 50%;
        /* Full width */
        height: 50%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.2) !important;
        /* Black w/ opacity */
      }

      /* Modal Content/Box */
      #myModal .modal-content {
        background-color: #fefefe;
        margin: 10% 36% auto auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 30% !important;
        /* Could be more or less, depending on screen size */
        height: 40%;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      }

      #modal-notice .modal-content {
        background-color: #fefefe;
        margin: 16% 41% auto auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 20% !important;
        /* Could be more or less, depending on screen size */
        height: 20%;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      }

      #modal-notice-file .modal-content {
        background-color: #fefefe;
        margin: 16% 41% auto auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 20% !important;
        /* Could be more or less, depending on screen size */
        height: 20%;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      }

      #modal-notice .close-modal-notice {
        font-size: 16px;
        padding: 0 10px;
        background-color: #e25050;
        color: black;
        border-radius: 4px;
        font-weight: bold;
      }

      #modal-notice-file .close-modal-notice {
        font-size: 16px;
        padding: 0 10px;
        background-color: #e25050;
        color: black;
        border-radius: 4px;
        font-weight: bold;
      }

      /* The Close Button */
      #myModal .close {
        font-size: 16px;
        padding: 0 10px;
        background-color: #e25050;
        color: black;
        border-radius: 4px;
        font-weight: bold;
      }

      #myModal .close:hover,
      #myModal .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

      .image-preview-cover {
        height: 500px !important;
        position: relative !important;
      }

      #image-preview {
        height: 100%;
        width: auto;
        position: absolute !important;
        margin-top: 7px;
      }

      .modal-child-header {
        display: flex;
        justify-content: space-between;
        margin-right: 6px;
        margin-left: 6px;
        padding-bottom: 4px;
        margin-bottom: 6px;
        border-bottom: 1px #ccc solid !important;
      }

      .width-height-link {
        margin-top: 14px;
        margin-left: -12px !important;
        width: 14px;
        height: 50px;
        border: 1px solid #5f5d5d !important;
        border-left: none !important;
      }

      .width-height-link {
        position: relative;
      }

      .width-height-link::before {
        font: var(--fa-font-solid);
        content: ' \f023';
        color: #dbae0b;
        position: absolute;
        top: 15px;
        margin-left: -5px;
        padding: 0 10px;
        background: #fff;
      }

      .width-height-reload {
        margin-top: 27px;
        margin-left: 5px;
        font-weight: bold;
        color: #030303;
      }

      .format-image-setting {
        border: 1px solid rgb(92, 91, 91);
        width: 96%;
        margin-left: 2%;
        margin-top: 30px;
      }

      .format-image-right {
        border-left: 1px solid rgb(92, 91, 91);

      }

      .format-image-left {
        padding: 20px;
      }

      .format-right-top {
        padding: 10px;
      }

      .format-right-middle {
        border-top: 1px solid rgb(92, 91, 91);
        border-bottom: 1px solid rgb(92, 91, 91);
        padding: 10px;

      }

      .format-right-bottom {
        padding: 10px;
      }

      .width-height-reload {
        cursor: pointer;
      }

      #viewRuleDetail .modal-content {
        height: 80% !important;
        min-height: 800px !important;
      }

      /*style for image when insert*/
      .img-align-unspecified {
        margin-right: 8px;
        float: unset;
      }

      .img-align-left {
        margin: 8px 8px 0 8px;
        float: left;
      }

      .img-align-right {
        margin: 8px 8px 0 8px;
        float: right;
      }

      .img-align-central {
        margin: 0 8px 0 8px;
        vertical-align: middle;
      }

      .img-align-superior {
        margin: 8px 8px 0 8px;
        vertical-align: text-top;
      }

      .img-align-under {
        margin: 0 8px 0 8px;
        vertical-align: text-bottom;
      }

      .input-with-button {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }

      .remove-button {
        margin-left: 10px;
      }

      .input-answer {
        width: 1000px;
        height: 45px;
      }

      .input-add-answer {
        margin-left: 200px;
      }

      .table-bordered {
        border: 1px solid #dee2e6;
      }

      .selected {
        border: 1px solid #2d57e2;
        /* background-color: #dddcdc; */
      }

      .not-selected {
        border: 1px solid #817272;
        /* background-color: #dddcdc; */
      }

      li.collection_hover:hover {
        background-color: #c1bebe;
      }

      .text-ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
      }

      .height_ckeditor {
        height: 350px;
      }

      .paginations {
        display: flex;
      }

      .paginations li a {
        padding: 6px 12px;
        border: 1px solid rgb(222 226 230);
      }

      .input-answer-email {
        width: 400px;
      }

      .btn-select {
        border: 1px solid;
        padding: 1px 8px;
        margin-bottom: 15px;
        background-color: darkgrey;
        border-radius: 4px;
        font-weight: 600;
      }